<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heartstone Cards</title>
  </head>
  <body>

    <form action="/cards" method="POST">
      <input type="number" name="mana" placeholder="Mana">
      <input type="number" name="attack" placeholder="Attack">
      <input type="number" name="health" placeholder="Health">
      <input type="text" name="description" placeholder="Description">
      <button type="submit">Add Card</button>
    </form>

    <div class="the-cards">
      <h3>Your current list: </h3>

      <% for (let i = 0; i < list.length; i++) { %>
      <hr>
      <div class="single-card">
        <div class="description">Card Description: <%= list[i].description %></div>
        <div class="mana">Mana: <%= list[i].mana %></div>
        <div class="attack">Attack: <%= list[i].attack %></div>
        <div class="health">Health: <%= list[i].health %></div>
        <a href="/remove/<%= list[i].id %>">Remove from list</a>
      </div>
      <% } %>

      <hr>

      <h1>All cards: </h1>

      <% for (let i = 0; i < cards.length; i++) { %>
      <hr>
      <div class="single-card">
        <div class="description">Card Description: <%= cards[i].description %></div>
        <div class="mana">Mana: <%= cards[i].mana %></div>
        <div class="attack">Attack: <%= cards[i].attack %></div>
        <div class="health">Health: <%= cards[i].health %></div>
        <a href="/list/<%= cards[i].id %>" name="addToList" method="get">Add to List</a>
      </div>
      <% } %>

    </div>

  </body>
</html>
